<div class="header-bar">
  <mat-toolbar>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/Home">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item  routerLink="/Contact">
        <mat-icon>Contact</mat-icon>
        <span>Contact</span>
      </button>
      <button mat-menu-item  routerLink="/Resume">
        <mat-icon>Resume</mat-icon>
        <span>Resume</span>
      </button>
      <button mat-menu-item routerLink="/Location">
        <mat-icon>Location</mat-icon>
        <span>Location</span>
      </button>
      <button mat-menu-item routerLink="/Blog">
        <mat-icon>Blog</mat-icon>
        <span>Blog</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>